<div class="row">   <% if @cartsession.present? %>
                       <div class="col-12">
                          <a href="<%= @cartsession.present? ? @cartsession['url'] : nil %>"  class="bg-dark float-right text-white fw-600 text-uppercase font-xsss border-dark border rounded-3 border-size-md d-inline-block w-100 p-3 text-center ls-3">Proceed To Checkout</a>
                       </div>
                    <% end %>
                        <div class="col-xl-12">
                            <div class="row">
                                
                            
                                <% @products.each do |productX| %>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card w-100 border-0 mt-4">
                                        <div class="card-image w-100 text-center bg-greylight rounded-3 mb-2">
                                            <a href="shop/<%= productX['id'][5..productX['id'].length] %>"><img src="<%= productX['images'][0] %>" alt="product-image" class="w-100 mt-0 mb-0"></a>
                                        </div>
                                        <div class="card-body w-100 p-0 text-center">
                                            <p class="mt-1 mb-1"><a href="single-product.html" class="fw-700 font-xsss lh-26"><%= productX['name'] %></a></p>
                                            <h6 class="font-xsss fw-600 text-auto ls-2"><%= number_to_currency(Stripe::Price.retrieve(productX['default_price'])['unit_amount'] * 0.01, precision: 2) %></h6>
                                        </div>                                
                                    </div>
                                </div>
                                <% end %>
                                
                            </div>
                        </div>     
                    </div>