
<% unless current_user %>
   <section class="sign-in-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-6 overflow-hidden position-relative">
               <div class="bg-primary w-100 h-100 position-absolute top-0 bottom-0 start-0 end-0"></div>
               <div class="container-inside z-1">
                  <div class="main-circle circle-small"></div>
                  <div class="main-circle circle-medium"></div>
                  <div class="main-circle circle-large"></div>
                  <div class="main-circle circle-xlarge"></div>
                  <div class="main-circle circle-xxlarge"></div>
               </div>
               <div class="sign-in-detail container-inside-top">
                <h2 class="font-size-28 text-white mb-4">YuhToo earns YOU YouTube money</h2>
                  <div class="swiper swiper-general overflow-hidden swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" data-slide="1" data-laptop="1" data-tab="1" data-mobile="1" data-mobile-sm="1" data-autoplay="true" data-loop="true" data-navigation="true" data-pagination="true" data-space="16">

                      
                       <ul class="swiper-wrapper list-inline m-0 p-0 " id="swiper-wrapper-14f936baf77c71b2" aria-live="off" style="transform: translate3d(-1144px, 0px, 0px); transition-duration: 50000ms !important;">
                          <li class="swiper-slide" role="group" style="width: 581px; margin-right: 16px;">
                             <!-- <div class="ratio ratio-16x9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
                             </div> -->
                             <h2 class="mt-5 text-white fw-semibold">Newbie 😳</h2>
                             <p class="mt-2 font-size-16 text-white mb-0">New to content creation, YouTube, or automation?</p>
                          </li>
                          <li class="swiper-slide" role="group" style="width: 581px; margin-right: 16px;">
                             <!-- <div class="ratio ratio-16x9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
                             </div> -->
                             <h2 class="mt-5 text-white fw-semibold">Explorer 👀</h2>
                             <p class="mt-2 font-size-16 text-white mb-0">Looking to make money from YouTube?</p>
                          </li>
                          <li class="swiper-slide" role="group" style="width: 581px; margin-right: 16px;">
                             <!-- <div class="ratio ratio-16x9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
                             </div> -->
                             <h2 class="mt-5 text-white fw-semibold">Creator 🤩</h2>
                             <p class="mt-2 font-size-16 text-white mb-0">Sell to your audience through YuhToo Commerce</p>
                          </li>
                          <li class="swiper-slide" role="group" style="width: 581px; margin-right: 16px;">
                             <!-- <div class="ratio ratio-16x9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
                             </div> -->
                             <h2 class="mt-5 text-white fw-semibold">Expert 😎</h2>
                             <p class="mt-2 font-size-16 text-white mb-0">YouTube &amp; YuhToo monetized - an elite combination</p>
                          </li>
                      </ul>

                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                  </div>

               </div>
            </div>
            <div class="col-md-6">
               <div class="sign-in-from text-center">
                  <a class="mt-n4 d-inline-flex align-items-center justify-content-center">
                    <%= image_tag 'YuhToo.png', class: 'signin-img img-fluid rounded-3', style: 'height:180px;width:180px;' %>
                  </a>

                  <h2 class="logo-title font-size-30" data-setting="app_name"><a href="/">YuhToo</a></h2>
                  <p class="font-size-22">YouTube Automation &amp; Community</p>
                  <p class="font-size-22">Investible YouTube videos</p>
                  <p class="font-size-10"><%= link_to "Continue with Google", user_google_oauth2_omniauth_authorize_path %></p>
                  <p class="text-center"><%= link_to image_tag('googlelogo.png'), user_google_oauth2_omniauth_authorize_path %></p>

                  <div class="row">
                    <button class="btn btn-secondary-subtle mb-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#privacyPolicy" aria-controls="privacyPolicy">Privacy</button>
                    <button class="btn mb-1 btn-secondary-subtle" type="button" data-bs-toggle="offcanvas" data-bs-target="#termsPolicy" aria-controls="termsPolicy">Terms</button>
                  </div>
                  <div class="row">
                    <div class="card text-white bg-primary mb-3">
                      <div class="card-body">
                         <h2 class="card-title text-white">How to make money with YouTube</h2>
                    
                            <p class="font-size-14">Learn YouTube from YouTube creators</p>
                            <button type="button" class="btn btn-secondary-subtle mb-3 me-1 col-12 text-center">Access FREE Library</button>

                      </div>

                   </div>
                  </div>
                     
                  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="termsPolicy" aria-labelledby="offcanvasBottomLabel">
                      <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasBottomLabel">YuhToo Terms &amp; Conditions</h5>
                          <div class="close-icon" data-bs-dismiss="offcanvas">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24px" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                              </svg>
                          </div>
                      </div>
                      <div class="offcanvas-body small">
                          Welcome to YuhToo!

                        These Terms and Conditions ("Terms") are here to explain how YuhToo works and what you agree to when you use it.

                        Signing Up
                        You need a YouTube account: To join YuhToo, you must sign up with your YouTube account.
                        What We Do with Your YouTube Data
                        Accessing your YouTube data: When you sign up, you let us see your YouTube data. This helps us check how you use YuhToo.
                        No sharing: We promise not to share your YouTube data with anyone else.
                        Using YuhToo
                        Respect others: Be kind and respectful to other members.
                        No bad stuff: Do not post harmful or inappropriate content.
                        Follow the rules: You must follow these Terms and YouTube's rules too.
                        Your Privacy
                        Keeping your data safe: We work hard to protect your information.
                        Cookies: We use cookies to make YuhToo better. By using YuhToo, you agree to this.
                        Changes to These Terms
                        Updates: We might change these Terms sometimes. If we do, we will let you know.
                        Ending Your Membership
                        Stop anytime: You can stop using YuhToo whenever you want.
                        We can too: We can end your membership if you break these rules.
                        Contact Us
                        Questions: If you have any questions, you can email us at support@yuhtoo.com.
                      </div>
                  </div>
                  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="privacyPolicy" aria-labelledby="offcanvasBottomLabel">
                      <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasBottomLabel">YuhToo Privacy Policy</h5>
                          <div class="close-icon" data-bs-dismiss="offcanvas">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24px" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                              </svg>
                          </div>
                      </div>
                      <div class="offcanvas-body small">
                          We care about your privacy and want you to know how we use your information. This policy is simple and easy to understand.

                  What We Do

                  You sign up for YuhToo using your YouTube account.
                  We track your activity on YuhToo to make sure everything runs smoothly.
                  We look at your YouTube data to check your channel stats, video stats, and ownership rights.
                  What Information We Use

                  We need access to your YouTube channel details.
                  We look at your video views, likes, comments, and other stats.
                  We check who owns the videos to protect your rights.
                  What We DON'T Do

                  We NEVER sell your data.
                  We NEVER share your data with anyone else.
                  Your Privacy Matters

                  We use your data only to make YuhToo better for you.
                  We keep your information safe and secure.
                  Questions?

                  If you have any questions, feel free to contact us anytime. We're here to help!
                      </div>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
   </section>
<% else %>

  <div class="iq-comingsoon mt-4">
    <ul class=" list-unstyled row mb-0">
        <li class="col-12 ">
          <a class="nav-link " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                  

                
            <div class=" card">
                <div class="card-body">
                    <div class="points">
                        <div class="d-flex align-items-center">
                         <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
                            <h3>&nbsp;New Idea</h3>
                            <!-- <small class="text-success ms-3">+ 57</small> -->
                        </div>
                        <span>What should we make next?</span>
                      
                    </div>
                </div>
            </div>
          </a>
        </li>
        <li class="col-lg-3 col-md-6 ">
          <a href="/feed">
            <div class=" card">
                <div class="card-body">
                    <div class="points">
                      
                        <div class="d-flex align-items-center">
                         <svg xmlns="http://www.w3.org/2000/svg" height="20" width="15" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2c0 0 0 0 0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4c0 0 0 0 0 0c19.8 27.1 39.7 54.4 49.2 86.2l160 0zM192 512c44.2 0 80-35.8 80-80l0-16-160 0 0 16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/></svg>
                            <h3>&nbsp;The Feed</h3>
                            <!-- <small class="text-success ms-3">+ 57</small> -->
                        </div>
                        <span>Ideas - comments - stories</span>
                    </div>
                </div>
            </div>
          </a>
        </li>
        <li class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="points">
                        <div class="d-flex align-items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416l384 0c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8l0-18.8c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"/></svg>
                            <h3>&nbsp;Notifications</h3>
                            <!-- <small class="text-success ms-3">+ 1,056</small> -->
                        </div>
                        <span>Reactions - messages - alerts</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="points">
                        <div class="d-flex align-items-center">
                           <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16zm16 48l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
                            <h3>&nbsp;Library</h3>
                            <!-- <small class="text-success ms-3">+ 28,476</small> -->
                        </div>
                        <span>Learn how to make money from YouTube</span>
                    </div>
                </div>
            </div>
        </li>
        
        <li class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="points">
                        <div class="d-flex align-items-center">
                           <svg xmlns="http://www.w3.org/2000/svg" height="20" width="25" viewBox="0 0 640 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M353.8 54.1L330.2 6.3c-3.9-8.3-16.1-8.6-20.4 0L286.2 54.1l-52.3 7.5c-9.3 1.4-13.3 12.9-6.4 19.8l38 37-9 52.1c-1.4 9.3 8.2 16.5 16.8 12.2l46.9-24.8 46.6 24.4c8.6 4.3 18.3-2.9 16.8-12.2l-9-52.1 38-36.6c6.8-6.8 2.9-18.3-6.4-19.8l-52.3-7.5zM256 256c-17.7 0-32 14.3-32 32l0 192c0 17.7 14.3 32 32 32l128 0c17.7 0 32-14.3 32-32l0-192c0-17.7-14.3-32-32-32l-128 0zM32 320c-17.7 0-32 14.3-32 32L0 480c0 17.7 14.3 32 32 32l128 0c17.7 0 32-14.3 32-32l0-128c0-17.7-14.3-32-32-32L32 320zm416 96l0 64c0 17.7 14.3 32 32 32l128 0c17.7 0 32-14.3 32-32l0-64c0-17.7-14.3-32-32-32l-128 0c-17.7 0-32 14.3-32 32z"/></svg>
                            <h3>&nbsp;Experts</h3>
                            <!-- <small class="text-success ms-3">+ 28,476</small> -->
                        </div>
                        <span>Grow your channel with these strategies</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="points">
                        <div class="d-flex align-items-center">
                           <svg xmlns="http://www.w3.org/2000/svg" height="20" width="22.5" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M234.7 42.7L197 56.8c-3 1.1-5 4-5 7.2s2 6.1 5 7.2l37.7 14.1L248.8 123c1.1 3 4 5 7.2 5s6.1-2 7.2-5l14.1-37.7L315 71.2c3-1.1 5-4 5-7.2s-2-6.1-5-7.2L277.3 42.7 263.2 5c-1.1-3-4-5-7.2-5s-6.1 2-7.2 5L234.7 42.7zM46.1 395.4c-18.7 18.7-18.7 49.1 0 67.9l34.6 34.6c18.7 18.7 49.1 18.7 67.9 0L529.9 116.5c18.7-18.7 18.7-49.1 0-67.9L495.3 14.1c-18.7-18.7-49.1-18.7-67.9 0L46.1 395.4zM484.6 82.6l-105 105-23.3-23.3 105-105 23.3 23.3zM7.5 117.2C3 118.9 0 123.2 0 128s3 9.1 7.5 10.8L64 160l21.2 56.5c1.7 4.5 6 7.5 10.8 7.5s9.1-3 10.8-7.5L128 160l56.5-21.2c4.5-1.7 7.5-6 7.5-10.8s-3-9.1-7.5-10.8L128 96 106.8 39.5C105.1 35 100.8 32 96 32s-9.1 3-10.8 7.5L64 96 7.5 117.2zm352 256c-4.5 1.7-7.5 6-7.5 10.8s3 9.1 7.5 10.8L416 416l21.2 56.5c1.7 4.5 6 7.5 10.8 7.5s9.1-3 10.8-7.5L480 416l56.5-21.2c4.5-1.7 7.5-6 7.5-10.8s-3-9.1-7.5-10.8L480 352l-21.2-56.5c-1.7-4.5-6-7.5-10.8-7.5s-9.1 3-10.8 7.5L416 352l-56.5 21.2z"/></svg>
                            <h3>&nbsp;Elements</h3>
                            <!-- <small class="text-success ms-3">+ 28,476</small> -->
                        </div>
                        <span>Find &amp; craft stimulating content</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="points">
                        <div class="d-flex align-items-center">
                           <svg xmlns="http://www.w3.org/2000/svg" height="20" width="15" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M173.8 5.5c11-7.3 25.4-7.3 36.4 0L228 17.2c6 3.9 13 5.8 20.1 5.4l21.3-1.3c13.2-.8 25.6 6.4 31.5 18.2l9.6 19.1c3.2 6.4 8.4 11.5 14.7 14.7L344.5 83c11.8 5.9 19 18.3 18.2 31.5l-1.3 21.3c-.4 7.1 1.5 14.2 5.4 20.1l11.8 17.8c7.3 11 7.3 25.4 0 36.4L366.8 228c-3.9 6-5.8 13-5.4 20.1l1.3 21.3c.8 13.2-6.4 25.6-18.2 31.5l-19.1 9.6c-6.4 3.2-11.5 8.4-14.7 14.7L301 344.5c-5.9 11.8-18.3 19-31.5 18.2l-21.3-1.3c-7.1-.4-14.2 1.5-20.1 5.4l-17.8 11.8c-11 7.3-25.4 7.3-36.4 0L156 366.8c-6-3.9-13-5.8-20.1-5.4l-21.3 1.3c-13.2 .8-25.6-6.4-31.5-18.2l-9.6-19.1c-3.2-6.4-8.4-11.5-14.7-14.7L39.5 301c-11.8-5.9-19-18.3-18.2-31.5l1.3-21.3c.4-7.1-1.5-14.2-5.4-20.1L5.5 210.2c-7.3-11-7.3-25.4 0-36.4L17.2 156c3.9-6 5.8-13 5.4-20.1l-1.3-21.3c-.8-13.2 6.4-25.6 18.2-31.5l19.1-9.6C65 70.2 70.2 65 73.4 58.6L83 39.5c5.9-11.8 18.3-19 31.5-18.2l21.3 1.3c7.1 .4 14.2-1.5 20.1-5.4L173.8 5.5zM272 192a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM1.3 441.8L44.4 339.3c.2 .1 .3 .2 .4 .4l9.6 19.1c11.7 23.2 36 37.3 62 35.8l21.3-1.3c.2 0 .5 0 .7 .2l17.8 11.8c5.1 3.3 10.5 5.9 16.1 7.7l-37.6 89.3c-2.3 5.5-7.4 9.2-13.3 9.7s-11.6-2.2-14.8-7.2L74.4 455.5l-56.1 8.3c-5.7 .8-11.4-1.5-15-6s-4.3-10.7-2.1-16zm248 60.4L211.7 413c5.6-1.8 11-4.3 16.1-7.7l17.8-11.8c.2-.1 .4-.2 .7-.2l21.3 1.3c26 1.5 50.3-12.6 62-35.8l9.6-19.1c.1-.2 .2-.3 .4-.4l43.2 102.5c2.2 5.3 1.4 11.4-2.1 16s-9.3 6.9-15 6l-56.1-8.3-32.2 49.2c-3.2 5-8.9 7.7-14.8 7.2s-11-4.3-13.3-9.7z"/></svg>
                            <h3>&nbsp;Badges</h3>
                            <!-- <small class="text-success ms-3">+ 28,476</small> -->
                        </div>
                        <span>Achievements - awards - rankings</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="points">
                        <div class="d-flex align-items-center">
                           <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9L0 168c0 13.3 10.7 24 24 24l110.1 0c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24l0 104c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65 0-94.1c0-13.3-10.7-24-24-24z"/></svg>
                            <h3>&nbsp;History</h3>
                            <!-- <small class="text-success ms-3">+ 28,476</small> -->
                        </div>
                        <span>Everything thats ever happened</span>
                    </div>
                </div>
            </div>
        </li>
        
        
        
        <li class="col-lg-3 col-md-6 ">
            <div class=" card">
                <div class="card-body">
                    <div class="points">
                        <div class="d-flex align-items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"/></svg>
                            <h3>&nbsp;Settings</h3>
                            <!-- <small class="text-danger ms-3">- 12,562</small> -->
                        </div>
                        <span>Membership - status - contact</span>
                    </div>
                </div>
            </div>
        </li>
        
        
        
        
    </ul>
  </div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">Full screen</button>
<div class="modal fade" id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                           <div class="modal-content">
                              <div class="modal-header">
                              <h5 class="modal-title h4" id="exampleModalFullscreenLabel">Full screen modal</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                              ...
                              </div>
                              <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                           </div>
                        </div>
                     </div>
  <div class="iq-comingsoon mt-5 mt-lg-0 mb-n5">
      <div class="container">
        <div class="auto-vh-100 d-flex flex-column justify-content-center">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div class="iq-comingsoon-info">
                  <div class="row">
                    
                     <a class="d-inline-flex align-items-center justify-content-center">
                       <%= image_tag 'YuhToo.png', class: 'signin-img img-fluid rounded-3', style: 'height:180px;width:180px;' %>
                     </a>
                  </div>
                  <div class="row">
                    <a href="/" class="d-flex justify-content-center align-items-center gap-2 iq-header-logo d-none d-lg-flex">
                    
                      <h3 class="logo-title d-none d-sm-block" data-setting="app_name">YuhToo</h3>
                    </a>
                  </div>
                  <div class="row">
                    <a href="<%= destroy_user_session_path %>" class="d-flex justify-content-center align-items-center gap-2 iq-header-logo d-none d-lg-flex">                  
                      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>
                    </a>
                  </div>
                  <h2 class="mt-4 mb-1">Stay tunned, we're launching very soon</h2>
                  <p><em><strong>YuhToo will release slowly to ensure quality</strong></em></p>
                  <h3>Jan 1 2025</h3>
                  
                  <ul class="countdown row list-inline" data-date="Jan 01 2025 00:00:00">
                    <li class="col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <span  id="days" class="text-center" data-days=""></span>Days
                        </div>
                      </div>
                    </li>
                    <li class="col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <span id="hours" class="text-center" data-hours=""></span>Hours
                        </div>
                      </div>
                    </li>
                    <li class="col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <span id="minutes" class="text-center" data-minutes=""></span>Minutes
                        </div>
                      </div>
                    </li>
                    <li class="col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <span id="seconds" class="text-center" data-seconds=""></span>Seconds
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>   
      </div>
  </div>
   
  <div class="content-inner " id="page_layout">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-sm-12">
             <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                <div class="inner-page-title">
                   <h3 class="text-white">YuhToo Reports</h3>
                   <p class="text-white mb-0">Updates - Logs - Thoughts</p>
                </div>
             </div>
          </div>
             <div class="card">
                <div class="card-body pt-0">
                   <ul class="iq-timeline ms-1">
                      <li>
                         <div class="timeline-dots border-primary"></div>
                         <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-1">Launching As Is &amp; Ready For More</h6>
                            <small>08 July 2024</small>
                         </div>
                         <div class="d-inline-block w-100">
                            <p>We're preparing to launch to avoid wasting time. We will let the community tell us the most value features or what to build next instead of sitting around guessing. <br>Here are some things we know we need to fix: 1. When commenting or liking an idea, the page should not reload. 2. ChatGPT integration for titles, images, tags, and descriptions. 3. AI formatting images &amp; videos for download. 4. Feed page reloads after 60 seconds. <br>We need developers. Contact Us: <%= mail_to "team@yuhtoo.com" %></p>
                         </div>
                      </li>
                      <li>
                         <div class="timeline-dots border-success"></div>
                         <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-1">Started YuhToo</h6>
                            <small>01 July 2024</small>
                         </div>
                         <div class="d-inline-block w-100">
                            <p>The term "YouTube Automation" is trending but nothing is automated yet &amp; monetization can be tiresome<br>The YuhToo platform will change that for everyone looking to make money online!</p>
                         </div>
                      </li>
                   </ul>
                </div>
             </div>
          
       </div>
    </div>
  </div>
<% end %>


<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 01 2025 00:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("seconds").innerHTML = seconds;

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("seconds").innerHTML = "EXPIRED";
  }

  document.getElementById("minutes").innerHTML = minutes;
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("minutes").innerHTML = "EXPIRED";
  }

  document.getElementById("hours").innerHTML = hours;
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("hours").innerHTML = "EXPIRED";
  }

  document.getElementById("days").innerHTML = days;
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("days").innerHTML = "EXPIRED";
  }
}, 1000);
</script>