<% unless current_user %>
   <section class="sign-in-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-6 overflow-hidden position-relative">
               <div class="bg-primary w-100 h-100 position-absolute top-0 bottom-0 start-0 end-0"></div>
               <div class="container-inside z-1">
                  <div class="main-circle circle-small"></div>
                  <div class="main-circle circle-medium"></div>
                  <div class="main-circle circle-large"></div>
                  <div class="main-circle circle-xlarge"></div>
                  <div class="main-circle circle-xxlarge"></div>
               </div>
               <div class="sign-in-detail container-inside-top">
                <h2 class="font-size-28 text-white">Is YuhToo Right For You?</h2>
                  <div class="swiper swiper-general overflow-hidden swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" data-slide="1" data-laptop="1" data-tab="1" data-mobile="1" data-mobile-sm="1" data-autoplay="true" data-loop="true" data-navigation="true" data-pagination="true" data-space="16">

                      
                       <ul class="swiper-wrapper list-inline m-0 p-0 " id="swiper-wrapper-14f936baf77c71b2" aria-live="off" style="transform: translate3d(-1144px, 0px, 0px); transition-duration: 50000ms !important;">
                          <li class="swiper-slide swiper-slide-active" role="group" style="width: 556px; margin-right: 16px;">
                             <h2 class="mt-5 text-white fw-semibold">Strength In Numbers</h2>
                             <p class="mt-2 font-size-16 text-white mb-0">Whether you post trending ideas or engage on YouTube, both count towards your YuhToo monitization status.</p>
                          </li>
                          <li class="swiper-slide" role="group" style="width: 581px; margin-right: 16px;">
                             <h2 class="mt-5 text-white fw-semibold">Novice 😳</h2>
                             <p class="mt-2 font-size-16 text-white mb-0">You are new to content creation, YouTube, or automation.</p>
                          </li>
                          <li class="swiper-slide" role="group" style="width: 581px; margin-right: 16px;">
                             <h2 class="mt-5 text-white fw-semibold">Explorer 🧐</h2>
                             <p class="mt-2 font-size-16 text-white mb-0">You know about YouTube &amp; content creation...but automating it?</p>
                          </li>
                          <li class="swiper-slide" role="group" style="width: 581px; margin-right: 16px;">
                             <h2 class="mt-5 text-white fw-semibold">Enthusiast 😎</h2>
                             <p class="mt-2 font-size-16 text-white mb-0">You're already into YouTube Automation or making content!</p>
                          </li>
                          <li class="swiper-slide" role="group" style="width: 581px; margin-right: 16px;">
                             <h2 class="mt-5 text-white fw-semibold">Creator 🤩</h2>
                             <p class="mt-2 font-size-16 text-white mb-0">You're monetized on YouTube & scaling for revenue</p>
                          </li>
                      </ul>

                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                  </div>

               </div>
            </div>
            <div class="col-md-6">
               <div class="sign-in-from text-center">
                  <a class="d-inline-flex align-items-center justify-content-center">
                    <%= image_tag 'YuhToo.png', class: 'signin-img img-fluid rounded-3', style: 'height:180px;width:180px;' %>
                  </a>
                  <h2 class="logo-title font-size-30" data-setting="app_name"><a href="/">YuhToo</a></h2>
                  <p class="font-size-22">YouTube Automation Platform</p>
                  <p class="font-size-14">Get paid from YouTube doing what you do now</p>
                  <p class="font-size-10"><%= link_to "Continue with Google", user_google_oauth2_omniauth_authorize_path %></p>
                  <p class="text-center"><%= link_to image_tag('googlelogo.png'), user_google_oauth2_omniauth_authorize_path %></p>

                  <div class="row col-6 offset-3">
                    <button class="btn btn-secondary-subtle mb-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#privacyPolicy" aria-controls="privacyPolicy">Privacy</button>
                  </div>
                  <div class="row col-6 offset-3">
                    <button class="btn btn-secondary-subtle" type="button" data-bs-toggle="offcanvas" data-bs-target="#termsPolicy" aria-controls="termsPolicy">Terms</button>
                  </div>
                  <p class="mt-2">Activities are tracked &amp; earn a share of revenue</p>
                  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="termsPolicy" aria-labelledby="offcanvasBottomLabel">
                      <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasBottomLabel">YuhToo Terms &amp; Conditions</h5>
                          <div class="close-icon" data-bs-dismiss="offcanvas">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24px" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                              </svg>
                          </div>
                      </div>
                      <div class="offcanvas-body small">
                          Welcome to YuhToo!

                        These Terms and Conditions ("Terms") are here to explain how YuhToo works and what you agree to when you use it.

                        Signing Up
                        You need a YouTube account: To join YuhToo, you must sign up with your YouTube account.
                        What We Do with Your YouTube Data
                        Accessing your YouTube data: When you sign up, you let us see your YouTube data. This helps us check how you use YuhToo.
                        No sharing: We promise not to share your YouTube data with anyone else.
                        Using YuhToo
                        Respect others: Be kind and respectful to other members.
                        No bad stuff: Do not post harmful or inappropriate content.
                        Follow the rules: You must follow these Terms and YouTube's rules too.
                        Your Privacy
                        Keeping your data safe: We work hard to protect your information.
                        Cookies: We use cookies to make YuhToo better. By using YuhToo, you agree to this.
                        Changes to These Terms
                        Updates: We might change these Terms sometimes. If we do, we will let you know.
                        Ending Your Membership
                        Stop anytime: You can stop using YuhToo whenever you want.
                        We can too: We can end your membership if you break these rules.
                        Contact Us
                        Questions: If you have any questions, you can email us at support@yuhtoo.com.
                      </div>
                  </div>
                  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="privacyPolicy" aria-labelledby="offcanvasBottomLabel">
                      <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasBottomLabel">YuhToo Privacy Policy</h5>
                          <div class="close-icon" data-bs-dismiss="offcanvas">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24px" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                              </svg>
                          </div>
                      </div>
                      <div class="offcanvas-body small">
                          We care about your privacy and want you to know how we use your information. This policy is simple and easy to understand.

                  What We Do

                  You sign up for YuhToo using your YouTube account.
                  We track your activity on YuhToo to make sure everything runs smoothly.
                  We look at your YouTube data to check your channel stats, video stats, and ownership rights.
                  What Information We Use

                  We need access to your YouTube channel details.
                  We look at your video views, likes, comments, and other stats.
                  We check who owns the videos to protect your rights.
                  What We DON'T Do

                  We NEVER sell your data.
                  We NEVER share your data with anyone else.
                  Your Privacy Matters

                  We use your data only to make YuhToo better for you.
                  We keep your information safe and secure.
                  Questions?

                  If you have any questions, feel free to contact us anytime. We're here to help!
                      </div>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
   </section>

<% else %>

   <div class="iq-comingsoon mt-5 mt-lg-0 mb-n5">
      <div class="container">
        <div class="auto-vh-100 d-flex flex-column justify-content-center">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div class="iq-comingsoon-info">
                  <div class="row">
                    
                     <a class="d-inline-flex align-items-center justify-content-center">
                       <%= image_tag 'YuhToo.png', class: 'signin-img img-fluid rounded-3', style: 'height:180px;width:180px;' %>
                     </a>
                  </div>
                  <div class="row">
                    <a href="index.html" class="d-flex justify-content-center align-items-center gap-2 iq-header-logo d-none d-lg-flex">
                    
                      <h3 class="logo-title d-none d-sm-block" data-setting="app_name">YuhToo</h3>
                    </a>
                  </div>
                  <div class="row">
                    <a href="<%= destroy_user_session_path %>" class="d-flex justify-content-center align-items-center gap-2 iq-header-logo d-none d-lg-flex">                  
                      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>
                    </a>
                  </div>
                  <h2 class="mt-4 mb-1">Stay tunned, we're launching very soon</h2>
                  <p><em><strong>YuhToo will release slowly to ensure quality</strong></em></p>

                  <ul class="countdown row list-inline" data-date="Jul 03 2024 23:59:59">
                    <li class="col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <span  id="days" class="text-center" data-days=""></span>Days
                        </div>
                      </div>
                    </li>
                    <li class="col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <span id="hours" class="text-center" data-hours=""></span>Hours
                        </div>
                      </div>
                    </li>
                    <li class="col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <span id="minutes" class="text-center" data-minutes=""></span>Minutes
                        </div>
                      </div>
                    </li>
                    <li class="col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <span id="seconds" class="text-center" data-seconds=""></span>Seconds
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>   
      </div>
    </div>
   
    <div class="content-inner " id="page_layout">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-sm-12">
               <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                  <div class="inner-page-title">
                     <h3 class="text-white">YuhToo Reports</h3>
                     <p class="text-white mb-0">Updates - Logs - Thoughts</p>
                  </div>
               </div>
            </div>
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Random Things</h4>
                     </div>
                  </div>
                  <div class="card-body pt-0">
                     <ul class="iq-timeline ms-1">
                        <li>
                           <div class="timeline-dots border-info"></div>
                           <div class="d-flex align-items-center justify-content-between">
                              <h6 class="mb-1">Started YuhToo</h6>
                              <small>01 July 2024</small>
                           </div>
                           <div class="d-inline-block w-100">
                              <p>The term "YouTube Automation" is trending but nothing is automated yet &amp; monetization can be tiresome<br>The YuhToo platform will change that for everyone looking to make money online!</p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            
         </div>
      </div>
    </div>
<% end %>


<script>
// Set the date we're counting down to
var countDownDate = new Date("Jul 5, 2024 15:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("seconds").innerHTML = seconds;

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("seconds").innerHTML = "EXPIRED";
  }

  document.getElementById("minutes").innerHTML = minutes;
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("minutes").innerHTML = "EXPIRED";
  }

  document.getElementById("hours").innerHTML = hours;
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("hours").innerHTML = "EXPIRED";
  }

  document.getElementById("days").innerHTML = days;
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("days").innerHTML = "EXPIRED";
  }
}, 1000);
</script>