<div class="container-fluid">
   <div class="row">
      <div class="col-12">
          <div class="text-center">
            <a class="d-inline-flex align-items-center justify-content-center">
              <%= image_tag 'YuhToo.png', class: 'signin-img img-fluid rounded-3', style: 'height:180px;width:180px;' %>
            </a>
            <h2 class="logo-title font-size-30" data-setting="app_name"><a href="/">YuhToo</a></h2>
            <p class="font-size-24">Privacy Policy</p>
          </div>
          <p>Welcome to YuhToo! We are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner. This Privacy Policy explains how we collect, use, store, and share information from users who sign in to our community using Google OAuth.</p>
          <h4>Information We Collect</h4>
          <p>When you sign up or log in to YuhToo using Google OAuth, we access the following information:</p>
          <ul><li>Email Address: We use your email address to verify your account and ensure it is a legitimate, verified email provided by Google.</li></ul>
          <h4>How We Use Your Information</h4>
          <ul>
            <li>Email Verification: We use the email address obtained through Google OAuth to verify that the email associated with your account has been verified by Google. This process helps us reduce bot activity and maintain a secure community environment.</li>
            <li>Notifications and Updates: We may use your email address to send you important notifications and updates about YuhToo, such as changes to our terms and policies, or information about new features and services.</li>
          </ul>
          <h4>Data Storage</h4>
          <p>We store your email address securely in our database. We take appropriate measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction.</p>
          <h4>Data Sharing</h4>
          <p>We do not share your email address or any other personal information obtained through Google OAuth with third parties, except as necessary to comply with legal obligations or to protect our rights and interests.</p>
          <h4>Managing Your Information</h4>
          <ul>
            <li>Access and Update: You have the right to access and update the personal information we hold about you. If you need to update your email address or any other information, please contact us at <%= mail_to "fdwillis7@icloud.com" %></li>
            <li>Delete Your Account: If you wish to delete your YuhToo account and remove your personal information from our systems, please contact us at [support email]. We will process your request in accordance with applicable laws and regulations.</li>
          </ul>
          <h4>Changes to This Privacy Policy</h4>
          <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any significant changes by posting the new Privacy Policy on our website and indicating the date of the latest revision.</p>
          <h4>Contact Us</h4>
          <p>If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at: <%= mail_to "fdwillis7@icloud.com" %></p>

          <small>Thank you for being a part of the YuhToo community!</small>

          <small>This Privacy Policy has been designed to satisfy the requirements of the Google Cloud Platform and ensure compliance with Google’s user data privacy policies.</small>

          <div class="text-center mt-4">
            <p class="text-center"><%= link_to image_tag('googlelogo.png'), user_google_oauth2_omniauth_authorize_path %></p>
            <p class="font-size-10"><%= link_to "Privacy", '/privacy' %></p>
            <p class="font-size-10"><%= link_to "Terms", '/terms' %></p>
          </div>
      </div>
   </div>
</div>
