<div class="container-fluid">
   <div class="row">
      <div class="col-12">
         <div class="sign-in-from text-center">
            <a class="d-inline-flex align-items-center justify-content-center">
              <%= image_tag 'YuhToo.png', class: 'signin-img img-fluid rounded-3', style: 'height:180px;width:180px;' %>
            </a>
            <h2 class="logo-title font-size-30" data-setting="app_name"><a href="/">YuhToo</a></h2>
            <p class="font-size-24">Terms &amp; Conditions</p>
						These Terms and Conditions ("Terms") are here to explain how YuhToo works and what you agree to when you use it.

						Signing Up
						You need a YouTube account: To join YuhToo, you must sign up with your YouTube account.
						What We Do with Your YouTube Data
						Accessing your YouTube data: When you sign up, you let us see your YouTube data. This helps us check how you use YuhToo.
						No sharing: We promise not to share your YouTube data with anyone else.
						Using YuhToo
						Respect others: Be kind and respectful to other members.
						No bad stuff: Do not post harmful or inappropriate content.
						Follow the rules: You must follow these Terms and YouTube's rules too.
						Your Privacy
						Keeping your data safe: We work hard to protect your information.
						Cookies: We use cookies to make YuhToo better. By using YuhToo, you agree to this.
						Changes to These Terms
						Updates: We might change these Terms sometimes. If we do, we will let you know.
						Ending Your Membership
						Stop anytime: You can stop using YuhToo whenever you want.
						We can too: We can end your membership if you break these rules.
						Contact Us
						Questions: If you have any questions, you can email me at fdwillis7@icloud.com.
            <p class="font-size-10"><%= link_to "Continue with Google", user_google_oauth2_omniauth_authorize_path %></p>
            <p class="text-center"><%= link_to image_tag('googlelogo.png'), user_google_oauth2_omniauth_authorize_path %></p>
            <p class="font-size-10"><%= link_to "Privacy", '/privacy' %></p>
            <p class="font-size-10"><%= link_to "Terms", '/terms' %></p>
         </div>
      </div>
   </div>
</div>
