<!DOCTYPE html>
<html>
  <head>
    <title>YuhToo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="description" content="Actually Automate YouTube Automation">
    <meta name="keywords" content="YuhToo, YouTube, YuhTooCreators, YuhTube Automation,">
    <meta name="author" content="YuhToo">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="/assets/yuhtoo.css" />
    <link rel="stylesheet" href="/assets/custom.css" />
    <link rel="stylesheet" href="/assets/customizer.css" />
    <link rel="stylesheet" href="/assets/libs.min.css" />
    <link rel="stylesheet" href="/assets/datepicker.min.css" />
    <link rel="stylesheet" href="/assets/sweetalert2.min.css" />
    <!-- <link rel="shortcut icon" href="../assets/images/favicon.ico"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="../assets/vendor/flatpickr/dist/flatpickr.min.css"> -->
    <!-- <link rel="stylesheet" href="../assets/vendor/sweetalert2/dist/sweetalert2.min.css"> -->
    
    <!-- <link rel="stylesheet" href="../assets/vendor/vanillajs-datepicker/dist/css/datepicker.min.css"> -->
    
    
    <!-- <link rel="stylesheet" href="../assets/css/custom.css?v=5.2.0"> -->
  </head>

  <body>

    <div class="wrapper mb-0">
      <% flash.each do |type, msg| %>
        <% if type == "notice" %>
          <div class="alert alert-success alert-dismissible d-flex align-items-center gap-2 fade show mb-3" role="alert">
            <span class="d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#00f900" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
            </span>
           <span><%= msg %></span>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% elsif type == "alert" %>
          <div class="alert alert-danger alert-dismissible d-flex align-items-center gap-2 fade show mb-3" role="alert">
            <span class="d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#00f900" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
            </span>
           <span><%= msg %></span>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% else %>
          <div class="alert alert-success alert-dismissible d-flex align-items-center gap-2 fade show mb-3" role="alert">
            <span class="d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#00f900" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
            </span>
           <span><%= msg %></span>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      <% end %>


      <div class="iq-top-navbar border-bottom">
        <nav class="nav navbar navbar-expand-lg navbar-light iq-navbar p-lg-0">
          <div class="container-fluid navbar-inner">
            <ul class="navbar-nav navbar-list">
              <li class="nav-item">
                <a href="/" class="d-flex align-items-center">
                  <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48 border border-2 me-3" alt="user" loading="lazy">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu-arrow dropdown-toggle d-flex align-items-center" href="/feed">
                  <svg xmlns="http://www.w3.org/2000/svg" height="32" width="24" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M297.2 248.9C311.6 228.3 320 203.2 320 176c0-70.7-57.3-128-128-128S64 105.3 64 176c0 27.2 8.4 52.3 22.8 72.9c3.7 5.3 8.1 11.3 12.8 17.7l0 0c12.9 17.7 28.3 38.9 39.8 59.8c10.4 19 15.7 38.8 18.3 57.5H109c-2.2-12-5.9-23.7-11.8-34.5c-9.9-18-22.2-34.9-34.5-51.8l0 0 0 0c-5.2-7.1-10.4-14.2-15.4-21.4C27.6 247.9 16 213.3 16 176C16 78.8 94.8 0 192 0s176 78.8 176 176c0 37.3-11.6 71.9-31.4 100.3c-5 7.2-10.2 14.3-15.4 21.4l0 0 0 0c-12.3 16.8-24.6 33.7-34.5 51.8c-5.9 10.8-9.6 22.5-11.8 34.5H226.4c2.6-18.7 7.9-38.6 18.3-57.5c11.5-20.9 26.9-42.1 39.8-59.8l0 0 0 0 0 0c4.7-6.4 9-12.4 12.7-17.7zM192 128c-26.5 0-48 21.5-48 48c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-44.2 35.8-80 80-80c8.8 0 16 7.2 16 16s-7.2 16-16 16zm0 384c-44.2 0-80-35.8-80-80V416H272v16c0 44.2-35.8 80-80 80z"/></svg>

                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu-arrow dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                  <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>

                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link menu-arrow dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptionsx" aria-controls="offcanvasWithBothOptionsx">
                  <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v25.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm0 96c61.9 0 112 50.1 112 112v25.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V208c0-61.9 50.1-112 112-112zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"/></svg>

                </a>
              </li>
              <% unless session[:user_id].nil? %>
                <li class="nav-item">
                  <a class="nav-link menu-arrow dropdown-toggle d-flex align-items-center" type="button" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/></svg>

                  </a>
                </li>
              <% end %>


            </ul>


          </div>
        </nav>
      </div>
          

      <%= yield %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/assets/slider.js"></script>
    <script src="/assets/libs.min.js"></script>
    
    <!-- <script src="../assets/vendor/lodash/lodash.min.js"></script>
    <script src="../assets/js/setting/utility.js"></script>
    <script src="../assets/js/setting/setting.js"></script>
    <script src="../assets/js/setting/setting-init.js" defer=""></script>
    <script src="../assets/js/masonry.pkgd.min.js"></script>
    <script src="../assets/js/enchanter.js"></script>
    <script src="../assets/vendor/sweetalert2/dist/sweetalert2.min.js" async=""></script>
    <script src="../assets/js/sweet-alert.js" defer=""></script>
    <script src="../assets/js/charts/weather-chart.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="../assets/js/fslightbox.js" defer=""></script> 
    <script src="../assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
    <script src="../assets/js/lottie.js"></script>
    <script src="../assets/js/select2.js"></script>
    <script src="../assets/js/ecommerce.js"></script> -->
    <div class="offcanvas offcanvas-start on-rtl start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header mb-n4">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Share Your Idea</h5>
        </div>
        <div class="offcanvas-body mb-0">
          <p>Titles, tags, scripts, images, &amp; video clips</p>
          <ul>
            <li>Describe Your Idea</li>
            <li>Attach Image &amp; Video</li>
            <li>Experts Craft Content For You</li>
          </ul>
            <div class="row">
               <div class="col-sm-12">
                  <div id="post-modal-data" class="card card-block card-stretch card-height create-post-modal">
                    <%= form_for :idea, :url => { :controller => 'ideas', :action => "create" } do |f| %>

                          <div class="form-contro" rows="5" id="exampleFormControlTextarea1">
                            <%= f.text_area :description, required: true, id: 'validationDefault01', class: 'form-control rounded px-0', placeholder: " What should we craft for you next?" %>
                          </div>
                    
                      <div class="card-body bg-primary-subtle rounded-bottom-3">
                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                           <div class="create-post-data">
                              <ul class="list-inline m-0 p-0 d-flex align-items-center gap-4">
                                 <li>
                                    <style type="text/css">
                                      .image-upload > input
                                      {
                                         display: none;
                                      }
                                      .image-upload > label{
                                        cursor:pointer;
                                      }
                                    </style>
                                    <div class="image-upload">
                                       <label for="file-input">
                                          <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#919191" d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                                          <svg xmlns="http://www.w3.org/2000/svg" height="20" width="22.5" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#919191" d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>
                                       </label>

                                       <%= f.file_field :attachments, id:"file-input", multiple: true %>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                           <div>
                              <ul class="list-inline m-0 p-0 d-flex align-items-center gap-4">
                                 <li>
                                    <%= f.submit 'Post', class: "btn btn-primary px-4" %>
                                 </li>
                              </ul>
                           </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
               </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end on-rtl start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptionsx" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="card m-0 shadow">
        <div class="card-header d-flex justify-content-between px-0 pb-4 mx-5 border-bottom">
          <div class="header-title">
            <h5 class="fw-semibold">Notifications</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="item-header-scroll">
            <a href="javascript:void(0);">
              <div class="d-flex gap-3 mb-4">
                <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48 border border-2 me-3" alt="user" loading="lazy">
                <div>
                  <h6 class="font-size-14"><span class="text-primary fw-semibold">59</span> <span class="text-body fw-normal">votes for your <span class="text-primary fw-semibold">Color Palette </h6>
                  <small class="text-body fw-500">13 min ago</small>
                </div>
              </div>
            </a>
            <a href="javascript:void(0);">
              <div class="d-flex gap-3 mb-4">
                <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48 border border-2 me-3" alt="user" loading="lazy">
                <div>
                  <h6 class="font-size-14"><span class="text-primary fw-semibold">19</span> <span class="text-body fw-normal">replies to your</span>
                    <span class="text-primary fw-semibold">Comment</span>
                  </h6>
                  <small class="text-body fw-500">30 min ago</small>
                </div>
              </div>
            </a>
            <a href="javascript:void(0);">
              <div class="d-flex gap-3 mb-4">
                <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48 border border-2 me-3" alt="user" loading="lazy">
                <div>
                  <h6 class="font-size-14"><span class="text-primary fw-semibold">900</span> <span class="text-body fw-normal">reacted to your </span>
                    <span class="text-primary fw-semibold">Idea</span>.
                  </h6>
                  <small class="text-body fw-500">19 min ago</small>
                </div>
              </div>
            </a>
          </div>  
          <button type="button" class="btn btn-secondary col-12 mb-3 me-1">View All Notifications</button>
        </div>
      </div>
    </div>
  </body>
</html>
