<!DOCTYPE html>
<html>
  <head>
    <title>YuhToo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="description" content="Actually Automate YouTube Automation">
    <meta name="keywords" content="YuhToo, YouTube, YuhTooCreators, YuhTube Automation,">
    <meta name="author" content="YuhToo">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="/assets/yuhtoo.css" />
    <link rel="stylesheet" href="/assets/custom.css" />
    <link rel="stylesheet" href="/assets/customizer.css" />
    <link rel="stylesheet" href="/assets/libs.min.css" />
    <link rel="stylesheet" href="/assets/datepicker.min.css" />
    <link rel="stylesheet" href="/assets/sweetalert2.min.css" />
    <!-- <link rel="shortcut icon" href="../assets/images/favicon.ico"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="../assets/vendor/flatpickr/dist/flatpickr.min.css"> -->
    <!-- <link rel="stylesheet" href="../assets/vendor/sweetalert2/dist/sweetalert2.min.css"> -->
    
    <!-- <link rel="stylesheet" href="../assets/vendor/vanillajs-datepicker/dist/css/datepicker.min.css"> -->
    
    
    <!-- <link rel="stylesheet" href="../assets/css/custom.css?v=5.2.0"> -->
  </head>

  <body>
    <% unless Rails.env.development? ? request.original_url.downcase == ENV['demoURL'] : request.original_url.downcase == ENV['productionURL'] %>

    

    <% end %>












    <main class="main-control">
      
    
    <div class="position-relative">
      


      <div class="iq-top-navbar border-bottom">

        <nav class="nav navbar navbar-expand-lg navbar-light iq-navbar p-lg-0">
          <div class="container-fluid navbar-inner">
            <ul class="navbar-nav navbar-list">
              <li class="nav-item ">
                <a href="/" class="d-flex align-items-center">
                  <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48  border-2 me-3" alt="user" loading="lazy">
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
          
      <div class="col-12">
        <% flash.each do |type, msg| %>
          <% if type == "notice" %>
            <div class="alert alert-success alert-dismissible d-flex align-items-center gap-2 fade show mb-3" role="alert">
              <span class="d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#00f900" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
              </span>
             <span><%= msg %></span>
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% elsif type == "alert" %>
            <div class="alert alert-danger alert-dismissible d-flex align-items-center gap-2 fade show mb-3" role="alert">
              <span class="d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#00f900" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
              </span>
             <span><%= msg %></span>
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% else %>
            <div class="alert alert-success alert-dismissible d-flex align-items-center gap-2 fade show mb-3" role="alert">
              <span class="d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#00f900" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
              </span>
             <span><%= msg %></span>
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="content-inner " id="page_layout">
        <div class="container">
        <%= yield %>
        </div>
      </div>
    </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/assets/slider.js"></script>
    <script src="/assets/libs.min.js"></script>
    
    <!-- <script src="../assets/vendor/lodash/lodash.min.js"></script>
    <script src="../assets/js/setting/utility.js"></script>
    <script src="../assets/js/setting/setting.js"></script>
    <script src="../assets/js/setting/setting-init.js" defer=""></script>
    <script src="../assets/js/masonry.pkgd.min.js"></script>
    <script src="../assets/js/enchanter.js"></script>
    <script src="../assets/vendor/sweetalert2/dist/sweetalert2.min.js" async=""></script>
    <script src="../assets/js/sweet-alert.js" defer=""></script>
    <script src="../assets/js/charts/weather-chart.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="../assets/js/fslightbox.js" defer=""></script> 
    <script src="../assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
    <script src="../assets/js/lottie.js"></script>
    <script src="../assets/js/select2.js"></script>
    <script src="../assets/js/ecommerce.js"></script> -->
    <div class="modal fade" id="newIdea" tabindex="-1" aria-labelledby="newIdeaLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
               <h1 class="modal-title " id="exampleModalScrollableTitle">New Idea</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
               
               </button>
            </div>
            <div class="modal-body">
              <div class="card">
                  <ul>
            <li>Describe Your Idea</li>
            <li>Chat With The Community</li>
            <li>Experts Craft Content For You</li>
          </ul>
            <div class="row">
               <div class="col-sm-12">
                  <div id="post-modal-data" class="card card-block card-stretch card-height create-post-modal">
                    <%= form_for :idea, :url => { :controller => 'ideas', :action => "create" } do |f| %>

                          <div class="form-contro" rows="5" id="exampleFormControlTextarea1">
                            <%= f.text_area :description, required: true, id: 'validationDefault01', class: 'form-control rounded px-0', placeholder: " Start typing here. Use markdown as needed...", cols: 30, rows: 10  %>
                          </div>
                    
                      <div class="card-body bg-primary-subtle rounded-bottom-3">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                           <div class="create-post-data">
                              <ul class="list-inline m-0 p-0 d-flex align-items-center">
                                 <li>
                                    <style type="text/css">
                                      .image-upload > input
                                      {
                                         display: none;
                                      }
                                      .image-upload > label{
                                        cursor:pointer;
                                      }
                                    </style>
                                    <% if @current_user&.accessPin == 'admin' %>
                                      <div class="image-upload">
                                         <label for="file-input">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#919191" d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="22.5" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#919191" d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>
                                         </label>

                                         <%= f.file_field :attachments, id:"file-input", multiple: true %>
                                      </div>
                                    <% end %>
                                 </li>
                              </ul>
                           </div>
                           <div>
                            <% if @current_user.present? %>
                              <%= link_to "Markdown Cheat Sheet", 'https://github.com/lifeparticle/Markdown-Cheatsheet', target: '_blank' %>
                              <%= f.submit 'Post', class: "btn btn-primary px-4" %>
                            <% else %>
                              <%= link_to "Continue with Google", user_google_oauth2_omniauth_authorize_path %>
                              <%= link_to image_tag('googlelogo.png'), user_google_oauth2_omniauth_authorize_path %>
                            <% end %>
                           </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
               </div>
            </div>
                 
              </div>
            </div>
            <div class="modal-footer bg-primary">
               <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
    </div>

    

    <div class="offcanvas offcanvas-end on-rtl start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptionsx" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="card m-0 shadow">
        <div class="card-header d-flex justify-content-between px-0 pb-4 mx-5 border-bottom">
          <div class="header-title">
            <h5 class="fw-semibold">Notifications</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="item-header-scroll">
            <a href="javascript:void(0);">
              <div class="d-flex gap-3 mb-4">
                <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48 border border-2 me-3" alt="user" loading="lazy">
                <div>
                  <h6 class="font-size-14"><span class="text-primary fw-semibold">59</span> <span class="text-body fw-normal">votes for your <span class="text-primary fw-semibold">Color Palette </h6>
                  <small class="text-body fw-500">13 min ago</small>
                </div>
              </div>
            </a>
            <a href="javascript:void(0);">
              <div class="d-flex gap-3 mb-4">
                <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48 border border-2 me-3" alt="user" loading="lazy">
                <div>
                  <h6 class="font-size-14"><span class="text-primary fw-semibold">19</span> <span class="text-body fw-normal">replies to your</span>
                    <span class="text-primary fw-semibold">Comment</span>
                  </h6>
                  <small class="text-body fw-500">30 min ago</small>
                </div>
              </div>
            </a>
            <a href="javascript:void(0);">
              <div class="d-flex gap-3 mb-4">
                <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48 border border-2 me-3" alt="user" loading="lazy">
                <div>
                  <h6 class="font-size-14"><span class="text-primary fw-semibold">900</span> <span class="text-body fw-normal">reacted to your </span>
                    <span class="text-primary fw-semibold">Idea</span>.
                  </h6>
                  <small class="text-body fw-500">19 min ago</small>
                </div>
              </div>
            </a>
          </div>  
          <% if @current_user.present? %>
            <button type="button" class="btn btn-secondary col-12 mb-3 me-1">Notifications Coming Soon</button>
          <% else %>
            <%= link_to "Continue with Google", user_google_oauth2_omniauth_authorize_path %>
            <%= link_to image_tag('googlelogo.png'), user_google_oauth2_omniauth_authorize_path %>
          <% end %>
          
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
      // var replyInterval = setInterval(function() {
      //     $('.dynamic2').load("/reload-feed?page=<%= params['page'] %>");
      //   }, 60000);

      var reloadInterval = setInterval(function() {
          $('.dynamic').load("/reload-feed?page=<%= params['page'] %>");
        }, 60000);

      $('#source').on('click', function(){
             clearInterval(reloadInterval);
         });
    </script>
  </body>
</html>
