<!DOCTYPE html>
<html>
  <head>
    <title>YuhToo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="description" content="Actually Automate YouTube Automation">
    <meta name="keywords" content="YuhToo, YouTube, YuhTooCreators, YuhTube Automation,">
    <meta name="author" content="YuhToo">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="/assets/yuhtoo.css" />
    <link rel="stylesheet" href="/assets/custom.css" />
    <link rel="stylesheet" href="/assets/customizer.css" />
    <link rel="stylesheet" href="/assets/libs.min.css" />
    <link rel="stylesheet" href="/assets/datepicker.min.css" />
    <link rel="stylesheet" href="/assets/sweetalert2.min.css" />
    <!-- <link rel="shortcut icon" href="../assets/images/favicon.ico"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="../assets/vendor/flatpickr/dist/flatpickr.min.css"> -->
    <!-- <link rel="stylesheet" href="../assets/vendor/sweetalert2/dist/sweetalert2.min.css"> -->
    
    <!-- <link rel="stylesheet" href="../assets/vendor/vanillajs-datepicker/dist/css/datepicker.min.css"> -->
    
    
    <!-- <link rel="stylesheet" href="../assets/css/custom.css?v=5.2.0"> -->
  </head>

  <body>
    <% unless Rails.env.development? ? request.original_url.downcase == ENV['demoURL'] : request.original_url.downcase == ENV['productionURL'] %>

    

    <% end %>












    <main class="main-control">
      
    
    <div class="position-relative">
      


      <div class="iq-top-navbar border-bottom">

        <nav class="nav navbar navbar-expand-lg navbar-light iq-navbar p-lg-0">
          <div class="container-fluid navbar-inner">
            <ul class="navbar-nav navbar-list">
              <li class="nav-item ">
                <a href="/" class="d-flex align-items-center">
                  <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48  border-2 me-3" alt="user" loading="lazy">
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
          
      <div class="col-12">
        <% flash.each do |type, msg| %>
          <% if type == "notice" %>
            <div class="alert alert-success alert-dismissible d-flex align-items-center gap-2 fade show mb-3" role="alert">
              <span class="d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#00f900" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
              </span>
             <span><%= msg %></span>
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% elsif type == "alert" %>
            <div class="alert alert-danger alert-dismissible d-flex align-items-center gap-2 fade show mb-3" role="alert">
              <span class="d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#00f900" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
              </span>
             <span><%= msg %></span>
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% else %>
            <div class="alert alert-success alert-dismissible d-flex align-items-center gap-2 fade show mb-3" role="alert">
              <span class="d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#00f900" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
              </span>
             <span><%= msg %></span>
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="content-inner " id="page_layout">
        <div class="container">
        <%= yield %>
        </div>
      </div>
    </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/assets/slider.js"></script>
    <script src="/assets/libs.min.js"></script>
    
    <!-- <script src="../assets/vendor/lodash/lodash.min.js"></script>
    <script src="../assets/js/setting/utility.js"></script>
    <script src="../assets/js/setting/setting.js"></script>
    <script src="../assets/js/setting/setting-init.js" defer=""></script>
    <script src="../assets/js/masonry.pkgd.min.js"></script>
    <script src="../assets/js/enchanter.js"></script>
    <script src="../assets/vendor/sweetalert2/dist/sweetalert2.min.js" async=""></script>
    <script src="../assets/js/sweet-alert.js" defer=""></script>
    <script src="../assets/js/charts/weather-chart.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="../assets/js/fslightbox.js" defer=""></script> 
    <script src="../assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
    <script src="../assets/js/lottie.js"></script>
    <script src="../assets/js/select2.js"></script>
    <script src="../assets/js/ecommerce.js"></script> -->
    <div class="modal fade" id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                      <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"/></svg>
                       <h1 class="modal-title " id="exampleModalScrollableTitle">&nbsp;Settings</h1>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                       
                       </button>
                    </div>
                    <div class="modal-body">
                      <div class="col-sm-12">
                       <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                          <div class="inner-page-title">
                             <h3 class="text-white">Adjust what you want</h3>
                             <p class="text-white mb-0">Manage your account 24/7</p>
                          </div>
                       </div>
                      </div>

                      <div class="row">
                          <div class="col-lg-3 col-md-6 mt-5">

                            <a href="<%= @current_user&.stripeCustomerID.present? ? @stripeCustomerPortal['url'] : '/membership'  %>" >
                             <div class="card">
                                <div class="card-body">
                                   <div class="iq-badges text-center">
                                      <div class="badges-icon">
                                         
                                         <svg xmlns="http://www.w3.org/2000/svg" height="80" width="100" viewBox="0 0 640 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M72 88a56 56 0 1 1 112 0A56 56 0 1 1 72 88zM64 245.7C54 256.9 48 271.8 48 288s6 31.1 16 42.3l0-84.7zm144.4-49.3C178.7 222.7 160 261.2 160 304c0 34.3 12 65.8 32 90.5l0 21.5c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-26.8C26.2 371.2 0 332.7 0 288c0-61.9 50.1-112 112-112l32 0c24 0 46.2 7.5 64.4 20.3zM448 416l0-21.5c20-24.7 32-56.2 32-90.5c0-42.8-18.7-81.3-48.4-107.7C449.8 183.5 472 176 496 176l32 0c61.9 0 112 50.1 112 112c0 44.7-26.2 83.2-64 101.2l0 26.8c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32zm8-328a56 56 0 1 1 112 0A56 56 0 1 1 456 88zM576 245.7l0 84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM320 32a64 64 0 1 1 0 128 64 64 0 1 1 0-128zM240 304c0 16.2 6 31 16 42.3l0-84.7c-10 11.3-16 26.1-16 42.3zm144-42.3l0 84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM448 304c0 44.7-26.2 83.2-64 101.2l0 42.8c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-42.8c-37.8-18-64-56.5-64-101.2c0-61.9 50.1-112 112-112l32 0c61.9 0 112 50.1 112 112z"/></svg>
                                      </div>
                                      <h5 class="mb-2">Membership</h5>
                                      
                                      <p>Manage payment &amp; information</p>
                                      <button type="button" class="btn mb-1 btn-success-subtle form-control">
                                        Complete <span class="badge bg-success ml-2"><%= @current_user.payoutStatus(@current_user)[:stripeCustomerID] + 1 %>/2</span>
                                        </button>
                                        <div class="progress mb-3">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (@current_user.payoutStatus(@current_user)[:stripeCustomerID]) == 1 ? 100 : 50 %>%" aria-valuenow="<%= (@current_user.payoutStatus(@current_user)[:stripeCustomerID]) == 1 ? 100 : 50 %>" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                   </div>
                                </div>
                             </div>
                            </a>
                          </div>
                        <div class="col-lg-3 col-md-6 mt-5">
                          <a href="<%= @current_user&.stripeAccountID.present? ? @stripeAccountX['url'] : '#'  %>?prefilled_email=<%= @current_user&.email %>" target='_blank'>
                           <div class="card">
                              <div class="card-body">
                                 <div class="iq-badges text-center">
                                    <div class="badges-icon">
                                       <svg xmlns="http://www.w3.org/2000/svg" height="80" width="80" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M184 48l144 0c4.4 0 8 3.6 8 8l0 40L176 96l0-40c0-4.4 3.6-8 8-8zm-56 8l0 40L64 96C28.7 96 0 124.7 0 160l0 96 192 0 128 0 192 0 0-96c0-35.3-28.7-64-64-64l-64 0 0-40c0-30.9-25.1-56-56-56L184 0c-30.9 0-56 25.1-56 56zM512 288l-192 0 0 32c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-32L0 288 0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-128z"/></svg>
                                    </div>
                                    
                                    
                                    <h5 class="mb-2">Payouts</h5>
                                    <p>Access money from monetized ideas</p>
                                      <button type="button" class="btn mb-1 btn-warning-subtle form-control">
                                      Steps <span class="badge bg-warning ml-2"><%= (@current_user.payoutStatus(@current_user)[:stripeAccountID]) == 0 ? 1 : 2%>/2</span>
                                      </button>
                                      <div class="progress mb-3">
                                          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= (@current_user.payoutStatus(@current_user)[:stripeAccountID]) == 0 ? 50 : 100%>%" aria-valuenow="<%= (@current_user.payoutStatus(@current_user)[:stripeAccountID]) == 0 ? 50 : 100%>" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                 </div>
                              </div>
                           </div>
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-5">
                           <div class="card">
                              <div class="card-body">
                                 <div class="iq-badges text-center">
                                    <div class="badges-icon">
                                       <svg class="avatar-80 rounded" xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M448 32l-86.1 0-1 1-127 127 92.1 0 1-1L453.8 32.3c-1.9-.2-3.8-.3-5.8-.3zm64 128l0-64c0-15.1-5.3-29.1-14-40l-104 104L512 160zM294.1 32l-92.1 0-1 1L73.9 160l92.1 0 1-1 127-127zM64 32C28.7 32 0 60.7 0 96l0 64 6.1 0 1-1 127-127L64 32zM512 192L0 192 0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-224z"/></svg>
                                    </div>
                                    <h5 class="mb-2">Eligibility</h5>
                                    <p>Moderator approved comments</p>
                                    <button type="button" class="btn mb-1 btn-danger-subtle form-control">
                                      Comments <span class="badge bg-danger ml-2">0/100</span>
                                      </button>
                                      <div class="progress mb-3">
                                          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-5">
                           <div class="card">
                              <div class="card-body">
                                 <div class="iq-badges text-center">
                                    <div class="badges-icon">
                                       <svg xmlns="http://www.w3.org/2000/svg" height="80" width="90" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M464 160c8.8 0 16 7.2 16 16l0 160c0 8.8-7.2 16-16 16L80 352c-8.8 0-16-7.2-16-16l0-160c0-8.8 7.2-16 16-16l384 0zM80 96C35.8 96 0 131.8 0 176L0 336c0 44.2 35.8 80 80 80l384 0c44.2 0 80-35.8 80-80l0-16c17.7 0 32-14.3 32-32l0-64c0-17.7-14.3-32-32-32l0-16c0-44.2-35.8-80-80-80L80 96zm368 96L96 192l0 128 352 0 0-128z"/></svg>
                                    </div>
                                    <h5 class="mb-2">Status</h5>
                                     <p>Bigger payouts, gifted channels, and commerce</p>
                                    <button type="button" class="btn mb-1 btn-warning-subtle form-control">
                                      Steps <span class="badge bg-warning ml-2"><%= (@current_user.payoutStatus(@current_user)[:stripeCustomerID]) + (@current_user.payoutStatus(@current_user)[:stripeAccountID]) + (@current_user.payoutStatus(@current_user)[:commentCount]) %>/3</span>
                                      </button>
                                      <div class="progress mb-3">
                                          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= (@current_user.payoutStatus(@current_user)[:stripeCustomerID]) + (@current_user.payoutStatus(@current_user)[:stripeAccountID]) + (@current_user.payoutStatus(@current_user)[:commentCount]) == 1 ? 33 : (@current_user.payoutStatus(@current_user)[:stripeCustomerID]) + (@current_user.payoutStatus(@current_user)[:stripeAccountID]) + (@current_user.payoutStatus(@current_user)[:commentCount]) == 2 ? 66 : (@current_user.payoutStatus(@current_user)[:stripeCustomerID]) + (@current_user.payoutStatus(@current_user)[:stripeAccountID]) + (@current_user.payoutStatus(@current_user)[:commentCount]) == 3 ? 100 : 0 %>%" aria-valuenow="<%= (@current_user.payoutStatus(@current_user)[:stripeCustomerID]) + (@current_user.payoutStatus(@current_user)[:stripeAccountID]) + (@current_user.payoutStatus(@current_user)[:commentCount]) == 1 ? 33 : (@current_user.payoutStatus(@current_user)[:stripeCustomerID]) + (@current_user.payoutStatus(@current_user)[:stripeAccountID]) + (@current_user.payoutStatus(@current_user)[:commentCount]) == 2 ? 66 : (@current_user.payoutStatus(@current_user)[:stripeCustomerID]) + (@current_user.payoutStatus(@current_user)[:stripeAccountID]) + (@current_user.payoutStatus(@current_user)[:commentCount]) == 3 ? 100 : 0 %>" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer bg-primary">
                       <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                 </div>
              </div>
            </div>


    <div class="modal fade" id="viewHistory" tabindex="-1" aria-labelledby="viewHistoryLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
              <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9L0 168c0 13.3 10.7 24 24 24l110.1 0c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24l0 104c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65 0-94.1c0-13.3-10.7-24-24-24z"/></svg>
               <h1 class="modal-title " id="exampleModalScrollableTitle">&nbsp;History</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
               
               </button>
            </div>
            <div class="modal-body">
              <div class="card">
                  
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                       <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                          <div class="inner-page-title">
                             <h3 class="text-white">Timeline</h3>
                             <p class="text-white mb-0">Important details, events, and notifications</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-12">
                       <div class="card">
                          <div class="card-body pt-0">
                             <ul class="iq-timeline ms-1">
                      <li>
                         <div class="timeline-dots border-primary"></div>
                         <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-1">Launching As Is &amp; Ready For More</h6>
                            <small>08 July 2024</small>
                         </div>
                         <div class="d-inline-block w-100">
                            <p>We're preparing to launch to avoid wasting time. We will let the community tell us the most value features or what to build next instead of sitting around guessing. <br>Here are some things we know we need to fix: 1. When commenting or liking an idea, the page should not reload. 2. ChatGPT integration for titles, images, tags, and descriptions. 3. AI formatting images &amp; videos for download. 4. Feed page reloads after 60 seconds. <br>We need developers. Contact Us: <%= mail_to "team@yuhtoo.com" %></p>
                         </div>
                      </li>
                      <li>
                         <div class="timeline-dots border-success"></div>
                         <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-1">Started YuhToo</h6>
                            <small>01 July 2024</small>
                         </div>
                         <div class="d-inline-block w-100">
                            <p>The term "YouTube Automation" is trending but nothing is automated yet &amp; monetization can be tiresome<br>The YuhToo platform will change that for everyone looking to make money online!</p>
                         </div>
                      </li>
                   </ul>
                          </div>
                       </div>
                    </div>
                    
                </div>
                 
              </div>
            </div>
            <div class="modal-footer bg-primary">
               <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
    </div>

    <div class="modal fade" id="viewBadges" tabindex="-1" aria-labelledby="viewBadgesLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
              <svg xmlns="http://www.w3.org/2000/svg" height="32" width="24" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M173.8 5.5c11-7.3 25.4-7.3 36.4 0L228 17.2c6 3.9 13 5.8 20.1 5.4l21.3-1.3c13.2-.8 25.6 6.4 31.5 18.2l9.6 19.1c3.2 6.4 8.4 11.5 14.7 14.7L344.5 83c11.8 5.9 19 18.3 18.2 31.5l-1.3 21.3c-.4 7.1 1.5 14.2 5.4 20.1l11.8 17.8c7.3 11 7.3 25.4 0 36.4L366.8 228c-3.9 6-5.8 13-5.4 20.1l1.3 21.3c.8 13.2-6.4 25.6-18.2 31.5l-19.1 9.6c-6.4 3.2-11.5 8.4-14.7 14.7L301 344.5c-5.9 11.8-18.3 19-31.5 18.2l-21.3-1.3c-7.1-.4-14.2 1.5-20.1 5.4l-17.8 11.8c-11 7.3-25.4 7.3-36.4 0L156 366.8c-6-3.9-13-5.8-20.1-5.4l-21.3 1.3c-13.2 .8-25.6-6.4-31.5-18.2l-9.6-19.1c-3.2-6.4-8.4-11.5-14.7-14.7L39.5 301c-11.8-5.9-19-18.3-18.2-31.5l1.3-21.3c.4-7.1-1.5-14.2-5.4-20.1L5.5 210.2c-7.3-11-7.3-25.4 0-36.4L17.2 156c3.9-6 5.8-13 5.4-20.1l-1.3-21.3c-.8-13.2 6.4-25.6 18.2-31.5l19.1-9.6C65 70.2 70.2 65 73.4 58.6L83 39.5c5.9-11.8 18.3-19 31.5-18.2l21.3 1.3c7.1 .4 14.2-1.5 20.1-5.4L173.8 5.5zM272 192a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM1.3 441.8L44.4 339.3c.2 .1 .3 .2 .4 .4l9.6 19.1c11.7 23.2 36 37.3 62 35.8l21.3-1.3c.2 0 .5 0 .7 .2l17.8 11.8c5.1 3.3 10.5 5.9 16.1 7.7l-37.6 89.3c-2.3 5.5-7.4 9.2-13.3 9.7s-11.6-2.2-14.8-7.2L74.4 455.5l-56.1 8.3c-5.7 .8-11.4-1.5-15-6s-4.3-10.7-2.1-16zm248 60.4L211.7 413c5.6-1.8 11-4.3 16.1-7.7l17.8-11.8c.2-.1 .4-.2 .7-.2l21.3 1.3c26 1.5 50.3-12.6 62-35.8l9.6-19.1c.1-.2 .2-.3 .4-.4l43.2 102.5c2.2 5.3 1.4 11.4-2.1 16s-9.3 6.9-15 6l-56.1-8.3-32.2 49.2c-3.2 5-8.9 7.7-14.8 7.2s-11-4.3-13.3-9.7z"/></svg>
               <h1 class="modal-title " id="exampleModalScrollableTitle">&nbsp;YuhToo Badges</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
               
               </button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="col-sm-12">
                       <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                          <div class="inner-page-title">
                             <h3 class="text-white">Make money on YuhToo</h3>
                             <p class="text-white mb-0">Stay active in the community &amp; earn money</p>
                          </div>
                       </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-6 mt-5">
                       <div class="card">
                          <div class="card-body">
                             <div class="iq-badges text-center">
                                <div class="badges-icon">
                                   
                                   <svg class="avatar-80 rounded" xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M448 32l-86.1 0-1 1-127 127 92.1 0 1-1L453.8 32.3c-1.9-.2-3.8-.3-5.8-.3zm64 128l0-64c0-15.1-5.3-29.1-14-40l-104 104L512 160zM294.1 32l-92.1 0-1 1L73.9 160l92.1 0 1-1 127-127zM64 32C28.7 32 0 60.7 0 96l0 64 6.1 0 1-1 127-127L64 32zM512 192L0 192 0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-224z"/></svg>
                                </div>
                                <h5 class="mb-2">Eligibility</h5>
                                <p>Get paid for ideas on YuhToo</p>
                                <button type="button" class="btn mb-1 btn-success-subtle form-control">
                                  Approved Comments <span class="badge bg-success ml-2">100/100</span>
                                  </button>
                                  <div class="progress mb-3">
                                      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-5">
                       <div class="card">
                          <div class="card-body">
                             <div class="iq-badges text-center">
                                <div class="badges-icon">
                                   <svg class="avatar-80 rounded" xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M0 128C0 92.7 28.7 64 64 64l256 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2l0 256c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1l0-17.1 0-128 0-17.1 14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>
                                </div>
                                <h5 class="mb-2">Production</h5>
                                <p>Earn perks, upgrades, and discounts</p>
                                  <button type="button" class="btn mb-1 btn-warning-subtle form-control">
                                  Monetized Ideas <span class="badge bg-warning ml-2">05/10</span>
                                  </button>
                                  <div class="progress mb-3">
                                      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-5">
                       <div class="card">
                          <div class="card-body">
                             <div class="iq-badges text-center">
                                <div class="badges-icon">
                                   <svg class="avatar-80 rounded" xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M320 96L192 96 144.6 24.9C137.5 14.2 145.1 0 157.9 0L354.1 0c12.8 0 20.4 14.2 13.3 24.9L320 96zM192 128l128 0c3.8 2.5 8.1 5.3 13 8.4C389.7 172.7 512 250.9 512 416c0 53-43 96-96 96L96 512c-53 0-96-43-96-96C0 250.9 122.3 172.7 179 136.4c0 0 0 0 0 0s0 0 0 0c4.8-3.1 9.2-5.9 13-8.4zm84 88c0-11-9-20-20-20s-20 9-20 20l0 14c-7.6 1.7-15.2 4.4-22.2 8.5c-13.9 8.3-25.9 22.8-25.8 43.9c.1 20.3 12 33.1 24.7 40.7c11 6.6 24.7 10.8 35.6 14l1.7 .5c12.6 3.8 21.8 6.8 28 10.7c5.1 3.2 5.8 5.4 5.9 8.2c.1 5-1.8 8-5.9 10.5c-5 3.1-12.9 5-21.4 4.7c-11.1-.4-21.5-3.9-35.1-8.5c-2.3-.8-4.7-1.6-7.2-2.4c-10.5-3.5-21.8 2.2-25.3 12.6s2.2 21.8 12.6 25.3c1.9 .6 4 1.3 6.1 2.1c0 0 0 0 0 0s0 0 0 0c8.3 2.9 17.9 6.2 28.2 8.4l0 14.6c0 11 9 20 20 20s20-9 20-20l0-13.8c8-1.7 16-4.5 23.2-9c14.3-8.9 25.1-24.1 24.8-45c-.3-20.3-11.7-33.4-24.6-41.6c-11.5-7.2-25.9-11.6-37.1-15c0 0 0 0 0 0l-.7-.2c-12.8-3.9-21.9-6.7-28.3-10.5c-5.2-3.1-5.3-4.9-5.3-6.7c0-3.7 1.4-6.5 6.2-9.3c5.4-3.2 13.6-5.1 21.5-5c9.6 .1 20.2 2.2 31.2 5.2c10.7 2.8 21.6-3.5 24.5-14.2s-3.5-21.6-14.2-24.5c-6.5-1.7-13.7-3.4-21.1-4.7l0-13.9z"/></svg>
                                </div>
                                <h5 class="mb-2">Commerce</h5>
                                <p>Sell to your audience with a customized page</p>
                                <button type="button" class="btn mb-1 btn-danger-subtle form-control">
                                  Proof of Sales <span class="badge bg-danger ml-2">$0/$100,000</span>
                                  </button>
                                  <div class="progress mb-3">
                                      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-5">
                       <div class="card">
                          <div class="card-body">
                             <div class="iq-badges text-center">
                                <div class="badges-icon">
                                   <svg class="avatar-80 rounded" xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0z"/></svg>
                                </div>
                                <h5 class="mb-2">Super User</h5>
                                <p>Earn bigger payouts &amp; gifted channels</p>
                                <button type="button" class="btn mb-1 btn-warning-subtle form-control">
                                  Monetized Ideas <span class="badge bg-warning ml-2">05/50</span>
                                  </button>
                                  <div class="progress mb-3">
                                      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                             </div>
                          </div>
                       </div>
                    </div>
                  </div>
                 
              </div>
            </div>
            <div class="modal-footer bg-primary">
               <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
    </div>


    <div class="modal fade" id="viewExperts" tabindex="-1" aria-labelledby="viewExpertsLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
              <svg xmlns="http://www.w3.org/2000/svg" height="32" width="40" viewBox="0 0 640 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M353.8 54.1L330.2 6.3c-3.9-8.3-16.1-8.6-20.4 0L286.2 54.1l-52.3 7.5c-9.3 1.4-13.3 12.9-6.4 19.8l38 37-9 52.1c-1.4 9.3 8.2 16.5 16.8 12.2l46.9-24.8 46.6 24.4c8.6 4.3 18.3-2.9 16.8-12.2l-9-52.1 38-36.6c6.8-6.8 2.9-18.3-6.4-19.8l-52.3-7.5zM256 256c-17.7 0-32 14.3-32 32l0 192c0 17.7 14.3 32 32 32l128 0c17.7 0 32-14.3 32-32l0-192c0-17.7-14.3-32-32-32l-128 0zM32 320c-17.7 0-32 14.3-32 32L0 480c0 17.7 14.3 32 32 32l128 0c17.7 0 32-14.3 32-32l0-128c0-17.7-14.3-32-32-32L32 320zm416 96l0 64c0 17.7 14.3 32 32 32l128 0c17.7 0 32-14.3 32-32l0-64c0-17.7-14.3-32-32-32l-128 0c-17.7 0-32 14.3-32 32z"/></svg>
               <h1 class="modal-title " id="exampleModalScrollableTitle">&nbsp;Experts</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
               
               </button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="col-sm-12">
                       <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                          <div class="inner-page-title">
                             <h3 class="text-white">Use these strategies</h3>

                             <p class="text-white mb-0">Grow your channel like an expert</p>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                      <div class="card-body pt-0">
                      
                         <ul class="nav nav-tabs" id="experts87h" role="tablist">
                            <li class="nav-item" role="presentation">
                               <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false" tabindex="-1">Millie</a>
                            </li>
                            <li class="nav-item" role="presentation">
                               <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile-one" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">Jones</a>
                            </li>
                            <li class="nav-item" role="presentation">
                               <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Matt</a>
                            </li>
                            <li class="nav-item" role="presentation">
                               <a class="nav-link" id="aiguy32er-tab" data-bs-toggle="tab" href="#aiguy32er" role="tab" aria-controls="aiguy32er" aria-selected="true">AI Guy</a>
                            </li>
                         </ul>
                         <% if request.original_url == ENV['demoURL'] || request.original_url == ENV['productionURL'] %>
                           <div class="tab-content" id="experts87h">
                              <div class="tab-pane fade" id="aiguy32er" role="tabpanel" aria-labelledby="aiguy32er-tab">
                                <p>AI Guy</p>
                                <div class="row">
                                  <% @library.each do |video| %>
                                    <% if video&.creator == 'aiguy' %>
                                      <div class="col-sm-4 social-post">
                                        <div class="card card-block card-stretch card-height">
                                              <div class="user-post mt-4">
                                                 <div class="ratio ratio-16x9">
                                                    <iframe src="<%= video.link %>" allowfullscreen=""></iframe>
                                                 </div>
                                              </div>
                                              <div class="mt-4">
                                                <h5 class="mb-2"><%= video.title %></h5>
                                              </div>
                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>      
                              </div>
                              <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p>Modern Millie</p>
                                <div class="row">
                                  <% @library.each do |video| %>
                                    <% if video&.creator == 'millie' %>
                                      <div class="col-sm-4 social-post">
                                        <div class="card card-block card-stretch card-height">
                                              <div class="user-post mt-4">
                                                 <div class="ratio ratio-16x9">
                                                    <iframe src="<%= video.link %>" allowfullscreen=""></iframe>
                                                 </div>
                                              </div>
                                              <div class="mt-4">
                                                <h5 class="mb-2"><%= video.title %></h5>
                                              </div>
                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>      
                              </div>
                              <div class="tab-pane fade" id="profile-one" role="tabpanel" aria-labelledby="profile-tab">
                                <p>Marcus Jones</p>
                                <div class="row">
                                  <% @library.each do |video| %>
                                    <% if video&.creator == 'marcus' %>
                                      <div class="col-sm-4 social-post">
                                        <div class="card card-block card-stretch card-height">
                                              <div class="user-post mt-4">
                                                 <div class="ratio ratio-16x9">
                                                    <iframe src="<%= video.link %>" allowfullscreen=""></iframe>
                                                 </div>
                                              </div>
                                              <div class="mt-4">
                                                <h5 class="mb-2"><%= video.title %></h5>
                                              </div>
                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>    
                              </div>
                              <div class="tab-pane fade " id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <p>Make Money Matt</p>
                                <div class="row">
                                  <% @library.each do |video| %>
                                    <% if video&.creator == 'matt' %>
                                      <div class="col-sm-4 social-post">
                                        <div class="card card-block card-stretch card-height">
                                              <div class="user-post mt-4">
                                                 <div class="ratio ratio-16x9">
                                                    <iframe src="<%= video.link %>" allowfullscreen=""></iframe>
                                                 </div>
                                              </div>
                                              <div class="mt-4">
                                                <h5 class="mb-2"><%= video.title %></h5>
                                              </div>
                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>    
                              </div>
                           </div>
                         <% end %>

                      </div>
                    </div>
              </div>
            </div>
            <div class="modal-footer bg-primary">
               <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
    </div>

    <div class="modal fade" id="viewLibrary" tabindex="-1" aria-labelledby="viewLibraryLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
              <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16zm16 48l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
               <h1 class="modal-title " id="exampleModalScrollableTitle">&nbsp;YuhToo Library</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
               
               </button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="col-sm-12">
                       <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                          <div class="inner-page-title">
                             <h3 class="text-white">Collective Knowledge</h3>
                             <p class="text-white mb-0">Learn to craft YouTube content 24/7</p>
                          </div>
                       </div>
                    </div>


                    <div class="row">
                      <div class="card-body pt-0">
                      
                         <ul class="nav nav-tabs" id="343eeddd" role="tablist">
                            <li class="nav-item" role="presentation">
                               <a class="nav-link active" id="all-tab" data-bs-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false" tabindex="-1">All</a>
                            </li>
                            <li class="nav-item" role="presentation">
                               <a class="nav-link" id="34fwe-tab" data-bs-toggle="tab" href="#34fwe" role="tab" aria-controls="34fwe" aria-selected="false" tabindex="-1">Keywords</a>
                            </li>
                            <li class="nav-item" role="presentation">
                               <a class="nav-link" id="3433dweww-tab" data-bs-toggle="tab" href="#3433dweww-one" role="tab" aria-controls="3433dweww" aria-selected="false" tabindex="-1">Inspiration</a>
                            </li>
                            <li class="nav-item" role="presentation">
                               <a class="nav-link" id="cwecwe33e-tab" data-bs-toggle="tab" href="#cwecwe33e" role="tab" aria-controls="cwecwe33e" aria-selected="true">Thumbnails</a>
                            </li>
                         </ul>
                         <% if request.original_url == ENV['demoURL'] || request.original_url == ENV['productionURL'] %>
                           <div class="tab-content" id="343eeddd">
                              <div class="tab-pane fade active show" id="all" role="tabpanel" aria-labelledby="all-tab">
                                <div class="row">
                                  <% @library.each do |video| %>

                                    <div class="col-sm-4 social-post">
                                      <div class="card card-block card-stretch card-height">
                                            <div class="user-post mt-4">
                                               <div class="ratio ratio-16x9">
                                                  <iframe src="<%= video.link %>" allowfullscreen=""></iframe>
                                               </div>
                                            </div>
                                            <div class="mt-4">
                                              <h5 class="mb-2"><%= video.title %></h5>
                                            </div>
                                      </div>
                                    </div>
                                  <% end %>
                                </div> 
                              </div>
                              <div class="tab-pane fade" id="34fwe" role="tabpanel" aria-labelledby="34fwe-tab">
                                <div class="row">
                                  <% @library.each do |video| %>
                                    <% if video.creator == 'ytkeywords' %>
                                      <div class="col-sm-4 social-post">
                                        <div class="card card-block card-stretch card-height">
                                              <div class="user-post mt-4">
                                                 <div class="ratio ratio-16x9">
                                                    <iframe src="<%= video.link %>" allowfullscreen=""></iframe>
                                                 </div>
                                              </div>
                                              <div class="mt-4">
                                                <h5 class="mb-2"><%= video.title %></h5>
                                              </div>
                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>   
                              </div>
                              <div class="tab-pane fade" id="3433dweww-one" role="tabpanel" aria-labelledby="3433dweww-tab">
                                <div class="row">
                                  <% @library.each do |video| %>
                                    <% if video.creator == 'ytinspiration' %>
                                      <div class="col-sm-4 social-post">
                                        <div class="card card-block card-stretch card-height">
                                              <div class="user-post mt-4">
                                                 <div class="ratio ratio-16x9">
                                                    <iframe src="<%= video.link %>" allowfullscreen=""></iframe>
                                                 </div>
                                              </div>
                                              <div class="mt-4">
                                                <h5 class="mb-2"><%= video.title %></h5>
                                              </div>
                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>  
                              </div>
                              <div class="tab-pane fade " id="cwecwe33e" role="tabpanel" aria-labelledby="cwecwe33e-tab">
                                <div class="row">
                                  <% @library.each do |video| %>
                                    <% if video.creator == 'ytthumbnails' %>
                                      <div class="col-sm-4 social-post">
                                        <div class="card card-block card-stretch card-height">
                                              <div class="user-post mt-4">
                                                 <div class="ratio ratio-16x9">
                                                    <iframe src="<%= video.link %>" allowfullscreen=""></iframe>
                                                 </div>
                                              </div>
                                              <div class="mt-4">
                                                <h5 class="mb-2"><%= video.title %></h5>
                                              </div>
                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>  
                              </div>
                           </div>
                        <% end %>
                      </div>
                      
                    </div>

                 
              </div>
            </div>
            <div class="modal-footer bg-primary">
               <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
    </div>

    <div class="modal fade" id="viewAlerts" tabindex="-1" aria-labelledby="viewAlertsLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
              <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416l384 0c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8l0-18.8c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"/></svg>
               <h1 class="modal-title " id="notifictionssaf98">&nbsp;Notifications</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
               
               </button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="col-sm-12">
                       <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                          <div class="inner-page-title">
                             <h3 class="text-white">Stay Updated</h3>
                             <p class="text-white mb-0">Reactions - Member messages - Payout alerts</p>
                          </div>
                       </div>
                    </div>
                  <div class="row">
                    <div class="card-body pt-0">
                      
                         <ul class="nav nav-tabs" id="3434cdsdscfff" role="tablist">
                            <li class="nav-item" role="presentation">
                               <a class="nav-link active" id="all987h34fui-tab" data-bs-toggle="tab" href="#all987h34fui" role="tab" aria-controls="all987h34fui" aria-selected="false" tabindex="-1">All</a>
                            </li>
                            <li class="nav-item" role="presentation">
                               <a class="nav-link" id="11rvef-tab" data-bs-toggle="tab" href="#11rvef" role="tab" aria-controls="11rvef" aria-selected="false" tabindex="-1">Reactions</a>
                            </li>
                            <li class="nav-item" role="presentation">
                               <a class="nav-link" id="rf33ee-tab" data-bs-toggle="tab" href="#rf33ee-one" role="tab" aria-controls="rf33ee" aria-selected="false" tabindex="-1">Messages</a>
                            </li>
                            <li class="nav-item" role="presentation">
                               <a class="nav-link" id="rtefvrvt-tab" data-bs-toggle="tab" href="#rtefvrvt" role="tab" aria-controls="rtefvrvt" aria-selected="true">Alerts</a>
                            </li>
                         </ul>
                         <div class="tab-content" id="3434cdsdscfff">
                            <div class="tab-pane fade active show" id="all987h34fui" role="tabpanel" aria-labelledby="all987h34fui-tab">
                              <div class="row">
                                <% if @alert&.present? %>
                                  <% @alert.each do |alert| %>
                                    <% if alert&.alertType == 'reaction' %>
                                      <div class="card">
                                        <div class="card-body">
                                           <ul class="notification-list m-0 p-0">
                                              <li class="d-flex align-items-center justify-content-between">
                                                 <div class="user-img img-fluid"><svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9l.3-.5z"/></svg></div>
                                                 <div class="w-100">
                                                    <div class="d-flex justify-content-between">
                                                       <div class="ms-3">
                                                          <h6><%= alert&.description %></h6>
                                                          <p class="mb-0"><%= time_ago_in_words(alert&.created_at.to_time) %> ago</p>
                                                       </div>
                                                       <div class="d-flex align-items-center">
                                                          <div class="card-header-toolbar d-flex align-items-center">
                                                              <div class="dropdown">
                                                                <div class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                                                   <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
                                                                </div>
                                                                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
                                                                      <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>&nbsp;View</a>                                                                      
                                                                   </div>
                                                                 </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </li>
                                           </ul>
                                        </div>
                                      </div>
                                    <% end %>
                                    <% if alert&.alertType == 'message' %>
                                      <div class="card">
                                        <div class="card-body">
                                           <ul class="notification-list m-0 p-0">
                                              <li class="d-flex align-items-center justify-content-between">
                                                 <div class="user-img img-fluid"><svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M121 32C91.6 32 66 52 58.9 80.5L1.9 308.4C.6 313.5 0 318.7 0 323.9L0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-92.1c0-5.2-.6-10.4-1.9-15.5l-57-227.9C446 52 420.4 32 391 32L121 32zm0 64l270 0 48 192-51.2 0c-12.1 0-23.2 6.8-28.6 17.7l-14.3 28.6c-5.4 10.8-16.5 17.7-28.6 17.7l-120.4 0c-12.1 0-23.2-6.8-28.6-17.7l-14.3-28.6c-5.4-10.8-16.5-17.7-28.6-17.7L73 288 121 96z"/></svg></div>
                                                 <div class="w-100">
                                                    <div class="d-flex justify-content-between">
                                                       <div class="ms-3">
                                                          <h6><%= alert&.description %></h6>
                                                          <p class="mb-0"><%= time_ago_in_words(alert&.created_at.to_time) %> ago</p>
                                                       </div>
                                                       <div class="d-flex align-items-center">
                                                          <div class="card-header-toolbar d-flex align-items-center">
                                                              <div class="dropdown">
                                                                <div class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                                                   <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
                                                                </div>
                                                                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
                                                                      <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>&nbsp;View</a>                                                                      
                                                                   </div>
                                                                 </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </li>
                                           </ul>
                                        </div>
                                      </div>
                                    <% end %>
                                    <% if alert&.alertType == 'alert' %>
                                      <div class="card">
                                        <div class="card-body">
                                           <ul class="notification-list m-0 p-0">
                                              <li class="d-flex align-items-center justify-content-between">
                                                 <div class="user-img img-fluid"><svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></div>
                                                 <div class="w-100">
                                                    <div class="d-flex justify-content-between">
                                                       <div class="ms-3">
                                                          <h6><%= alert&.description %></h6>
                                                          <p class="mb-0"><%= time_ago_in_words(alert&.created_at.to_time) %> ago</p>
                                                       </div>
                                                       <div class="d-flex align-items-center">
                                                          <div class="card-header-toolbar d-flex align-items-center">
                                                              <div class="dropdown">
                                                                <div class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                                                   <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
                                                                </div>
                                                                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
                                                                      <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>&nbsp;View</a>                                                                      
                                                                   </div>
                                                                 </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </li>
                                           </ul>
                                        </div>
                                      </div>
                                    <% end %>
                                  <% end %>
                                <% end %>
                                
                              </div>   
                            </div>
                            <div class="tab-pane fade" id="11rvef" role="tabpanel" aria-labelledby="11rvef-tab">
                              <% if @alert&.present? %>
                                <% @alert.each do |alert| %>
                                  <% if alert&.alertType == 'reaction' %>
                                      <div class="card">
                                        <div class="card-body">
                                           <ul class="notification-list m-0 p-0">
                                              <li class="d-flex align-items-center justify-content-between">
                                                 <div class="user-img img-fluid"><svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9l.3-.5z"/></svg></div>
                                                 <div class="w-100">
                                                    <div class="d-flex justify-content-between">
                                                       <div class="ms-3">
                                                          <h6><%= alert&.description %></h6>
                                                          <p class="mb-0"><%= time_ago_in_words(alert&.created_at.to_time) %> ago</p>
                                                       </div>
                                                       <div class="d-flex align-items-center">
                                                          <div class="card-header-toolbar d-flex align-items-center">
                                                              <div class="dropdown">
                                                                <div class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                                                   <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
                                                                </div>
                                                                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
                                                                      <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>&nbsp;View</a>                                                                      
                                                                   </div>
                                                                 </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </li>
                                           </ul>
                                        </div>
                                      </div>
                                    <% end %>
                                <% end %>
                              <% end %>
                            </div>
                            <div class="tab-pane fade" id="rf33ee-one" role="tabpanel" aria-labelledby="rf33ee-tab">
                              <% if @alert&.present? %>  
                                <% @alert.each do |alert| %>
                                    <% if alert&.alertType == 'message' %>
                                      <div class="card">
                                        <div class="card-body">
                                           <ul class="notification-list m-0 p-0">
                                              <li class="d-flex align-items-center justify-content-between">
                                                 <div class="user-img img-fluid"><svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M121 32C91.6 32 66 52 58.9 80.5L1.9 308.4C.6 313.5 0 318.7 0 323.9L0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-92.1c0-5.2-.6-10.4-1.9-15.5l-57-227.9C446 52 420.4 32 391 32L121 32zm0 64l270 0 48 192-51.2 0c-12.1 0-23.2 6.8-28.6 17.7l-14.3 28.6c-5.4 10.8-16.5 17.7-28.6 17.7l-120.4 0c-12.1 0-23.2-6.8-28.6-17.7l-14.3-28.6c-5.4-10.8-16.5-17.7-28.6-17.7L73 288 121 96z"/></svg></div>
                                                 <div class="w-100">
                                                    <div class="d-flex justify-content-between">
                                                       <div class="ms-3">
                                                          <h6><%= alert&.description %></h6>
                                                          <p class="mb-0"><%= time_ago_in_words(alert&.created_at.to_time) %> ago</p>
                                                       </div>
                                                       <div class="d-flex align-items-center">
                                                          <div class="card-header-toolbar d-flex align-items-center">
                                                              <div class="dropdown">
                                                                <div class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                                                   <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
                                                                </div>
                                                                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
                                                                      <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>&nbsp;View</a>                                                                      
                                                                   </div>
                                                                 </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </li>
                                           </ul>
                                        </div>
                                      </div>
                                    <% end %>
                                <% end %>
                              <% end %>
                            </div>
                            <div class="tab-pane fade " id="rtefvrvt" role="tabpanel" aria-labelledby="rtefvrvt-tab">
                              <% if @alert&.present? %> 
                                <% @alert.each do |alert| %>
                                  <% if alert&.alertType == 'alert' %>
                                    <div class="card">
                                      <div class="card-body">
                                         <ul class="notification-list m-0 p-0">
                                            <li class="d-flex align-items-center justify-content-between">
                                               <div class="user-img img-fluid"><svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></div>
                                               <div class="w-100">
                                                  <div class="d-flex justify-content-between">
                                                     <div class="ms-3">
                                                        <h6><%= alert&.description %></h6>
                                                        <p class="mb-0"><%= time_ago_in_words(alert&.created_at.to_time) %> ago</p>
                                                     </div>
                                                     <div class="d-flex align-items-center">
                                                        <div class="card-header-toolbar d-flex align-items-center">
                                                            <div class="dropdown">
                                                              <div class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                                                 <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
                                                              </div>
                                                                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="">
                                                                    <a class="dropdown-item d-flex align-items-center" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>&nbsp;View</a>                                                                    
                                                                 </div>
                                                               </div>
                                                        </div>
                                                     </div>
                                                  </div>
                                               </div>
                                            </li>
                                         </ul>
                                      </div>
                                    </div>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </div>
                         </div>
                      </div>
                    
                  </div>
                 
              </div>
            </div>
            <div class="modal-footer bg-primary">
               <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
    </div>




    <div class="modal fade" id="newIdea" tabindex="-1" aria-labelledby="newIdeaLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
               <svg xmlns="http://www.w3.org/2000/svg" height="32" width="28" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>&nbsp;<h1 class="modal-title " id="exampleModalScrollableTitle">New Idea</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
               
               </button>
            </div>
            <div class="modal-body">
              <div class="col-sm-12">
                 <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                    <div class="inner-page-title mt-n4">
                       <h3 class="text-white">Get Paid For Ideas</h3>
                       <ul class="text-white">
                        <li>Describe Your Idea</li>
                        <li>Chat With The Community</li>
                        <li>Experts Craft Content For You</li>
                      </ul>
                    </div>
                 </div>
              </div>
              <div class="card">
                  
                <div class="row">
                   <div class="col-sm-12">
                      <div id="post-modal-data" class="card card-block card-stretch card-height create-post-modal">
                        <%= form_for :idea, :url => { :controller => 'ideas', :action => "create" } do |f| %>

                              <div class="mb-4" rows="5" id="exampleFormControlTextarea1">
                                <%= f.text_area :description, required: true, id: 'validationDefault01', class: 'form-control rounded px-0', placeholder: " Start typing here. Use markdown as needed...", cols: 30, rows: 10  %>
                              </div>
                        
                          <div class="card-body bg-primary-subtle rounded-bottom-3">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                               <div class="create-post-data">
                                  <ul class="list-inline m-0 p-0 d-flex align-items-center">
                                     <li>
                                        <style type="text/css">
                                          .image-upload > input
                                          {
                                             display: none;
                                          }
                                          .image-upload > label{
                                            cursor:pointer;
                                          }
                                        </style>
                                        <% if @current_user&.accessPin == 'admin' %>
                                          <div class="image-upload">
                                             <label for="file-input">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#919191" d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="22.5" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#919191" d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>
                                             </label>

                                             <%= f.file_field :attachments, id:"file-input", multiple: true %>
                                          </div>
                                        <% end %>
                                     </li>
                                  </ul>
                               </div>
                               <div>
                                <% if @current_user.present? %>
                                  <%= link_to "Markdown Cheat Sheet", 'https://github.com/lifeparticle/Markdown-Cheatsheet', target: '_blank' %>&nbsp;&nbsp;&nbsp;
                                  <%= f.submit 'Post', class: "btn btn-primary px-4" %>
                                <% else %>
                                  <%= link_to "Continue with Google", user_google_oauth2_omniauth_authorize_path %>
                                  <%= link_to image_tag('googlelogo.png'), user_google_oauth2_omniauth_authorize_path %>
                                <% end %>
                               </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                   </div>
                </div>
                 
              </div>
            </div>
            <div class="modal-footer bg-primary">
               <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
    </div>

    <div class="modal fade" id="viewFeed" tabindex="-1" aria-labelledby="viewFeedLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
               <svg xmlns="http://www.w3.org/2000/svg" height="32" width="24" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ff0000" d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2c0 0 0 0 0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4c0 0 0 0 0 0c19.8 27.1 39.7 54.4 49.2 86.2l160 0zM192 512c44.2 0 80-35.8 80-80l0-16-160 0 0 16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/></svg>&nbsp;<h1 class="modal-title " id="exampleModalScrollableTitle">YuhToo Feed</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
               
               </button>
            </div>
            <div class="modal-body">
              <div class="card">
                  
                <div class="row">
                   <%= render partial: 'feed' %>
                </div>
                 
              </div>
            </div>
            <div class="modal-footer bg-primary">
               <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
    </div>

    

    <div class="offcanvas offcanvas-end on-rtl start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptionsx" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="card m-0 shadow">
        <div class="card-header d-flex justify-content-between px-0 pb-4 mx-5 border-bottom">
          <div class="header-title">
            <h5 class="fw-semibold">Notifications</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="item-header-scroll">
            <a href="javascript:void(0);">
              <div class="d-flex gap-3 mb-4">
                <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48 border border-2 me-3" alt="user" loading="lazy">
                <div>
                  <h6 class="font-size-14"><span class="text-primary fw-semibold">59</span> <span class="text-body fw-normal">votes for your <span class="text-primary fw-semibold">Color Palette </h6>
                  <small class="text-body fw-500">13 min ago</small>
                </div>
              </div>
            </a>
            <a href="javascript:void(0);">
              <div class="d-flex gap-3 mb-4">
                <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48 border border-2 me-3" alt="user" loading="lazy">
                <div>
                  <h6 class="font-size-14"><span class="text-primary fw-semibold">19</span> <span class="text-body fw-normal">replies to your</span>
                    <span class="text-primary fw-semibold">Comment</span>
                  </h6>
                  <small class="text-body fw-500">30 min ago</small>
                </div>
              </div>
            </a>
            <a href="javascript:void(0);">
              <div class="d-flex gap-3 mb-4">
                <img src="/assets/YuhToo.png" class="img-fluid rounded-circle avatar-48 border border-2 me-3" alt="user" loading="lazy">
                <div>
                  <h6 class="font-size-14"><span class="text-primary fw-semibold">900</span> <span class="text-body fw-normal">reacted to your </span>
                    <span class="text-primary fw-semibold">Idea</span>.
                  </h6>
                  <small class="text-body fw-500">19 min ago</small>
                </div>
              </div>
            </a>
          </div>  
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  </body>
</html>
